# This configuration file should be uploaded to the server as "<Application Folder>/Build/.htaccess"
# This configuration has been tested with Unity 2020.1 builds, hosted on Apache/2.4
# NOTE: "mod_mime" Apache module must be enabled for this configuration to work.

<IfModule mod_mime.c>
	# The following line improves loading performance for uncompressed builds
	AddType application/wasm .wasm
</IfModule>